.vscode

Detector_de_Entidades/Entrenamiento-2/Entrenamiento 2- frases + tweets v2 con vectores/4-resultados con vectores/output
Detector_de_Entidades/Entrenamiento-3/Entrenamiento3-200 frases + ChatGTP +tweets + noticias/3-training con transformers/output
Detector_de_Entidades/Entrenamiento-3/Entrenamiento3-200 frases + ChatGTP + noticias/3-training con transformers/output
Clasificador_De_Violencia_Multi_Categoria/Entrenamiento 1/5.Pruebas con transformers/output
Clasificador_De_Violencia_Multi_Categoria/Entrenamiento 2/5.Pruebas con transformers/output
Clasificador_De_Violencia_Multi_Categoria/Entrenamiento 3/5. Pruebas con transformers/output
Clasificador_De_Violencia/Entrenamiento 3 con transformers/3.pruebas/output
Clasificador_De_Violencia/Entrenamiento 2 con transformers/3.pruebas/output
*.parquet
Clasificador_De_Violencia_Multi_Categoria\exploracion_reddit\modelo_binario