  body {
    background: #fafafa;
    color: #171A21;
    margin-top: 3.5rem;
    font-family: 'Inter', 'Space Grotesk', Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #171A21;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-blue {
    background-color:rgba(34, 87, 122, 1);
     
  }
  
  .bg-grad {
    background: linear-gradient(rgba(199, 249, 204, 1), rgba(34, 87, 122, 1));
  }

  .site-header .navbar .navbar-nav {
    color: #ffffff;
    font-family: 'Lato';
  }

  .nav-link{
    color: #2e778c;
    font-family: 'Manrope';
  }
  
  .site-header .navbar-nav {
    color: #ffffff;
  }
  
  .nav-link:hover{
    color:#171A21
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .container-side-by-side { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
  } 

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2E778C;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #C7CADD;
    padding: 16px;
    text-decoration: none;
  }

  /* Active/current link */
  .sidebar a.active {
    
    color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    color: white;
  }

  .sidebar-brand {
    padding: 10px;
    color: #ffffff;
    font-family: 'Manrope';
  }

  .pos-fix {
    position: fixed;
  }

  .nombre {
    font-family: 'Space Grotesk';
    text-decoration: none;
  }

  .category-1 {
    color: white;
    background-color: #00065D; 
  }

  .category-2 {
    color: white;
    background-color: #008DDE; 
  }
  .category-3 {
    color: white;
    background-color: #D2C3C3; 
  }
  .category-4 {
    color: white;
    background-color: #F94D67; 
  }
  .category-5 {
    color: white;
    background-color: #99001C; 
  }

  .card-text {
    color: black;
  }