{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2>{{aplicacion.nombre}}</h2>
            </br>
            <p>{{aplicacion.descripcion}}</p>
            </br>
            </br>
            {% if error %}
                <div class="alert alert-warning" role="alert">
                {{error}}. Por favor, elimine los archivos de esa extensión de su carpeta.
                </div>
            {% endif %}
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nuevo Análisis</h5>

                        <form action="" method=POST enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form_analisis.as_p }}
                        <br/>                        
                    </div>
                </div> 
                </br>     
            </div>
            <div class = " col-11 text-end">
                <input type="submit" value="Procesar" class="btn btn-primary btn-md">
            </div>
    </main>
    </div>
</div>

{% endblock content %}