{% extends "analisis/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a class="active" href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
        <main role="main" class="container">
            </br>
            </br>
            <h2>{{carpeta.nombre}}</h2>
            </br>
            

            <!--Subir archivos-->
            <div class="file-manager-actions container-p-x py-2">
                <hr class="m-0" />
                <div>
                    </br>
                    <h5> Agregar archivos: </h5>
                    </br>  
                    <form action="" method=POST enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form_file.as_p }}
                    <br/> 
                    <input type="submit" value="Subir" class="btn btn-primary btn-md">
                </div>
            </br> 
                <hr class="m-0" />
            </div>

            <!--Carpetas-->
            </br>
            </br>
            <div class="container">
                <div class="row">
                    {% for archivo in archivos %}
                        <div class="col-6">
                            <div class="card bg-transparent border-0" style="width:10rem;">

                                <div class = "text-end">
                                    <a href="{% url 'analisis-borrar_archivo' archivo.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este archivo?')">
                                        <img src="{% static 'images/trash.png'%}" width="20" >
                                    </a>
                                </div>
                                
                                <div class="text-center" >
                                        <div class="text-center" >
                                            <img src="{% static 'images/archivo.png'%}">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-title nombre">{{archivo.nombre}}</div>
                                        </div>
                                </div>
                            </div>  
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock content %}