{% extends "analisis/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a class="active" href="">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
        <main role="main" class="container">
            </br>
            </br>
            <h2>Carpetas</h2>
            </br>
            <p> Seleccione o cree una carpeta para subir los archivos que desea analizar. </p>
            </br>
            <!--Nueva carpeta-->
            <div class="file-manager-actions container-p-x py-2">
                <hr class="m-0" />
                <div>
                    <a href="{% url 'analisis-nueva_carpeta' %}">
                        <button type="button" class="btn btn-primary mr-2">Nueva Carpeta</button>
                    </a>
                </div>
                <hr class="m-0" />
                <!-- div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-default icon-btn md-btn-flat active"> <input type="radio" name="file-manager-view" value="file-manager-col-view" checked="" /> <span class="ion ion-md-apps"></span> </label>
                        <label class="btn btn-default icon-btn md-btn-flat"> <input type="radio" name="file-manager-view" value="file-manager-row-view" /> <span class="ion ion-md-menu"></span> </label>
                    </div>
                </div -->
            </div>

            <!--Carpetas-->
            </br>
            </br>
            <div class="container">
                <div class="row">

                    {% for carpeta in carpetas %}
                    <div class="col-6">
                        <div class="card bg-transparent border-0" style="width:10rem;">
                            <div class = "text-end">
                                <a href="{% url 'analisis-borrar_carpeta' carpeta.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar este archivo? Todos los análisis asociados a la carpeta serán eliminados.')">
                                    <img src="{% static 'images/trash.png'%}" width="20" >
                                </a>
                            </div>

                            <div class="text-center" >
                                <a href="{% url 'analisis-carpeta' carpeta.id %}">
                                    <div class="text-center" >
                                        <img src="{% static 'images/carpeta.png'%}">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-title nombre">{{carpeta.nombre}}</div>
                                    </div>
                                </a>
                            </div>
                        </div>  
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock content %}