{% extends "analisis/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a class="active" href="">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
        <main role="main" class="container">
                </br>
                </br>
                <h2>Configuracion</h2>
                </br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pref-tab" data-bs-toggle="tab" data-bs-target="#pref" type="button" role="tab" aria-controls="pref" aria-selected="true">Preferencias</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="cuenta-tab" data-bs-toggle="tab" data-bs-target="#cuenta" type="button" role="tab" aria-controls="cuenta" aria-selected="false">Mi cuenta</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Preferencias-->
                    <div class="tab-pane fade show active" id="pref" role="tabpanel" aria-labelledby="pref-tab">
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <form action="" method=POST enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form_preferencias.as_p }}
                                    <br/> 

                                    <div>
                                        <p>Clasico:</p>
                                        <img src="{% static 'images/clasico.png' %}">
                                        <br/>
                                    </div>
                                    <br/>

                                    <div>
                                        <p>Azul a rosa:</p>
                                        <img src="{% static 'images/AR.png' %}">
                                        <br/>
                                    </div>
                                    <br/>

                                    <div>
                                        <p>Azul a amarillo:</p>
                                        <img src="{% static 'images/AM.png' %}">
                                        <br/>
                                    </div>

                                    <br/>
                                    <br/>
                                    <input type="submit" value="Aceptar" class="btn btn-primary btn-md">                      
                                </div>
                                <div class="col">
                                    <div>
                                        </br>
                                        </br>
                                        </br>
                                        {% if color_actual == "CLASICO"%}
                                            <img src="{% static 'images/clasico_muestra.png' %}">
                                        {% elif color_actual == "AR"%}
                                            <img src="{% static 'images/azul_rosa_muestra.png' %}">
                                        {% elif color_actual == "AM" %}
                                            <img src="{% static 'images/azul_amarillo_muestra.png' %}">
                                        {% endif %}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </br>
                        </br>
                    </div>
                    <!-- Mi cuenta-->
                    <div class="tab-pane fade" id="cuenta" role="tabpanel" aria-labelledby="cuenta">
                        </br>
                        <h5>Datos de la cuenta: </h6>
                        </br>
                        <div class="container">
                            <p>Nombre de usuario: {{user.username}}</p>
                            {% if user.email %}
                                <p>Correo electrónico: {{user.email}}</p>
                            {% endif %}
                            </br>
                        </div>
                        <h5>Cambiar la contraseña de su cuenta: </h5>
                        <a href="{% url 'password_change' %}"> 
                            <button type="button" class="btn btn-primary btn-md" data-bs-toggle="modal" data-bs-target="#exampleModal"> Quiero cambiar mi contraseña </button>
                        </a>
                    </div>
                    
                </div>
        </main>
    </div>
</div>


{% endblock content %}