{% extends "analisis/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a class="active" href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
        <main role="main" class="container">
            </br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'analisis-resultados' %}">Resultados</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'analisis-resultado' id_analisis %}">Analisis</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Crear Wordcloud</li>
                </ol>
              </nav>
            </br>
            <h4> Nuevo Wordcloud: </h4>
            </br>
            <form action="" method=POST enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            <br/> 
            <input type="submit" value="Aceptar" class="btn btn-primary btn-md">
            
        </main>
    </div>
</div>

{% endblock content %}