{% extends "analisis/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a class="active" href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
        <main role="main" class="container">
            </br>
            </br>
            <h4> Nueva carpeta: </h4>
            </br>
            <form action="" method=POST enctype="multipart/form-data">
                {% csrf_token %}
                {{form_carpeta.as_p }}
            <br/> 
            <input type="submit" value="Aceptar" class="btn btn-primary btn-md">
            
        </main>
    </div>
</div>

{% endblock content %}