
{% extends "analisis/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Analisis</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2>Aplicaciones de Analisis</h2>
            </br>
            <p> Seleccione una aplicación a utilizar de la lista de aplicaciones disponibles: </p>
            </br>
            </br>
            <div class="container">
                <div id="progress-wrapper">
                    <button id="progress-bar-trigger">Run</button>
                    <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
                    <div id="progress-bar-message">Waiting for progress to start...</div>
                </div>
                <script>
                    var startCeleryUrl = '{% url "comenzar_tarea_celery" %}'; 

                    var trigger = document.getElementById('progress-bar-trigger');
                    trigger.addEventListener('click', fetchCeleryData)

                    function fetchCeleryData() {
                        fetch(startCeleryUrl)
                        .then(response => response.json())
                        .then(result => {
                            console.log(result)
                            var progressUrl = '{% url "task_status" 1 %}'
                            progressUrl = progressUrl.replace("1", result.task_id);
                            console.log(progressUrl)
                            updateProgress(progressUrl);
                        })
                    }

                    function updateProgress (progressUrl) {
                        console.log("volviendo a hacer fetch del progreso")
                        fetch(progressUrl).then(function(response) {
                            response.json().then(function(data) {
                                console.log(data)
                                if (data.state !== 'SUCCESS') {
                                    // update the appropriate UI components
                                    var bar = document.getElementById("progress-bar");
                                    var barMessage = document.getElementById("progress-bar-message");
                                    bar.style.width = data.details.current * 10 + "%";
                                    barMessage.innerHTML = data.details.current * 10 + ' of ' + data.details.total * 10 + ' processed.';
                                    setTimeout(updateProgress, 500, progressUrl);
                                }
                            });
                        });
                    }
                </script>
                <div class="row">
                    <!--CAMBIAR POR UN FOR DE LAS APPS EXISTENTES!!! habria que cambiar el modelo para incluir la imagen capaz-->
                    <div class="col-6">
                        <div class="card " style="width:25rem;">
                            <div class="text-center" >
                                <img src="{% static 'images/entidades.png' %}" width="200" height="250">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Deteccion de Entidades</h5>
                                <p class="card-text">Aplicacion de deteccion de entidades</p>
                                <div class="text-center"> 
                                    <a href="{% url 'analisis-aplicacion' 2 %}" class="btn btn-outline-primary btn-md">Iniciar</a>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="col-6">
                        <div class="card" style="width:25rem;">
                            <!--img class=" card-img-top" src="/images/video technology.jpg" alt=""-->

                            <div class="text-center" >
                                <img src="{% static 'images/clasificar.png' %}" width="200" height="250">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Clasificación de texto</h5>
                                <p class="card-text">Aplicacion de deteccion y clasificación de violencia de genero</p>
                                <div class="text-center"> 
                                    <a href="{% url 'analisis-aplicacion' 1 %}"  class="btn btn-outline-primary btn-md">Iniciar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    </div>
</div>


{% endblock content %}