{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Analisis</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2>{{aplicacion.nombre}}</h2>
            </br>
            <p>{{aplicacion.descripcion}}</p>
            </br>


            <div id="progress-wrapper">
                <button id="progress-bar-trigger">Comenzar</button>
                <div id="progress-bar" style="background-color: rgb(234, 0, 255); width: 0%;">&nbsp;</div>
                <div id="progress-bar-message">Esperando...</div>
            </div>

            <script>
                var startCeleryUrl = '{% url "comenzar_tarea_celery" {{analisis.id}} %}'; 

                var trigger = document.getElementById('progress-bar-trigger');
                trigger.addEventListener('click', fetchCeleryData)

                function fetchCeleryData() {
                    fetch(startCeleryUrl)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        var progressUrl = '{% url "task_status" 1 %}'
                        progressUrl = progressUrl.replace("1", result.task_id);
                        console.log(progressUrl)
                        updateProgress(progressUrl);
                    })
                }

                function updateProgress (progressUrl) {
                    console.log("volviendo a hacer fetch del progreso")
                    fetch(progressUrl).then(function(response) {
                        response.json().then(function(data) {
                            console.log(data)
                            if (data.state !== 'SUCCESS') {
                                // update the appropriate UI components
                                var bar = document.getElementById("progress-bar");
                                var barMessage = document.getElementById("progress-bar-message");
                                bar.style.width = data.details.current * 10 + "%";
                                barMessage.innerHTML = data.details.current * 10 + ' of ' + data.details.total * 10 + ' processed.';
                                setTimeout(updateProgress, 500, progressUrl);
                            }
                        });
                    });
                }
            </script>
    </main>
    </div>
</div>

{% endblock content%}