{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menú </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Análisis</a>
            <a href="{% url 'analisis-config' %}">Configuración</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'analisis-principal' %}">Aplicaciones</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'analisis-aplicacion' aplicacion.id%}">{{aplicacion.nombre}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Procesar</li>
                </ol>
            </nav>
            </br>
            <h2>{{aplicacion.nombre}}</h2>
            </br>
            <p>{{aplicacion.descripcion}}</p>
            </br>

            <div class="alert alert-warning" role="alert">
                Este sistema de analisis de texto utiliza modelos predictivos de inteligencia artificial. Esto quiere decir que sus resultados pueden no ser 100% precisos. Por favor, revise los resultados con cuidado.
            </div>

            <div id="progress-wrapper">
                <button id="progress-bar-trigger" class="btn btn-primary btn-md">Comenzar análisis</button>
                <br>
                <br>
                <div id="progress-bar-message">Análisis listo para comenzar...</div>
                <br>
                <br>
                <div id="progress-bar" style="background-color: rgb(5, 139, 201); width: 0%;">&nbsp;</div>
            </div>


            <script>
                var startCeleryUrl = '/comenzar_tarea_celery/'+ "{{ id_analisis }}" ;

                var trigger = document.getElementById('progress-bar-trigger');
                trigger.addEventListener('click', fetchCeleryData)

                function fetchCeleryData() {
                    var trigger = document.getElementById('progress-bar-trigger');
                    trigger.disabled = true;

                    fetch(startCeleryUrl)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        var progressUrl = 'obtener_progreso_tarea_celery/1'
                        progressUrl = progressUrl.replace("1", result.task_id);
                        console.log(progressUrl)
                        updateProgress(progressUrl);
                    })
                }

                function updateProgress (progressUrl) {
                    fetch(progressUrl).then(function(response) {
                        response.json().then(function(data) {
                            console.log(data)
                            if (data.state === 'SUCCESS') {
                                var bar = document.getElementById("progress-bar");
                                var barMessage = document.getElementById("progress-bar-message");
                                bar.style.width = "100%";
                                bar.style.backgroundColor = "green";
                                barMessage.innerHTML = "Análisis terminado, redirigiendo a resultados...";
                                setTimeout(function(){
                                    window.location.href = '/resultado/'+ "{{ id_analisis }}";
                                }, 1500);
                            } else if (data.state === 'FAILED') {
                                var bar = document.getElementById("progress-bar");
                                var barMessage = document.getElementById("progress-bar-message");
                                bar.style.width = "100%";
                                bar.style.backgroundColor = "red";
                                barMessage.innerHTML = data.details.mensaje;
                            } else if (data.state === 'PENDING' && data.details == null) {
                                var bar = document.getElementById("progress-bar");
                                var barMessage = document.getElementById("progress-bar-message");
                                bar.style.width = "100%";
                                bar.style.backgroundColor = "red";
                                barMessage.innerHTML = "Hubo un error inesperado. Por favor reinicie el análisis.";
                            } else {
                                var bar = document.getElementById("progress-bar");
                                var barMessage = document.getElementById("progress-bar-message");
                                bar.style.width = (data.details.current * 10 / data.details.total) * 10 + "%";
                                barMessage.innerHTML = data.details.mensaje;
                                setTimeout(updateProgress, 1000, progressUrl);
                            }
                        });
                    });
                }
            </script>
    </main>
    </div>
</div>

{% endblock content%}