{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Resultados</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2> {{aplicacion.nombre}}: {{analisis.carpeta.nombre}} </h2>
            </br>
            <div class = " col-11 text-end">
                <a href="#" class="btn btn-primary btn-md">Descargar</a> 
            </div>

            <h5> Informe </h5>
            </br>
            </br>
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {{analisis.informe|safe}}
                        </p>
                    </div>
                </div> 
                </br>     
            </div>

            <h5> Resultados completos </h5>
            </br>
            **agregar resaltado de entidades especificas. 
            </br>
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {% if analisis.modelo.nombre == 'entidades' %}
                                {% for resultado in resultados %}
                                    <div class="col-6">
                                        <div>
                                            {{resultado.html|safe}}
                                        </div>  
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-6">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Detectado</th>
                                            <th scope="col">Archivo</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for index, resultado in enumerate(resultados) %}
                                                <tr>
                                                    <th scope="row">{{index}}</th>
                                                    <td>{{resultado.texo}}</td>
                                                    <td>{{resultado.detectado}}</td>
                                                    <td>{{resultado.archivo_origen}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                        </p>
                    </div>
                </div> 
                </br>     
            </div>

    </main>
    </div>
</div>

{% endblock content %}