{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Analisis</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2> {{aplicacion.nombre}}: {{analisis.carpeta.nombre}} </h2>
            </br>
            <div class="container">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class = " p-2 bd-highlight">
                        <a href="#" class="btn btn-primary btn-md">Descargar</a> 
                    </div>
                    <div class = " p-2 bd-highlight">
                        <a href= "{% url 'analisis-borrar_analisis' analisis.id %}" onclick="return confirm('Estas seguro de que quieres eliminar este analisis?')" class="btn btn-outline-danger btn-md">Borrar</a>
                    </div>
                </div>
            </div>
            </br>
            <h3> Informe </h3>
            </br>
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">

                                    <div>
                                        <div class="container">
                                            <div class="row">
                                            <h4> Distribución de entidades </h4>
                                            </br>
                                            </br>
                                              <div class="col">
                                                <div id="d_ents"></div>
                                                <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                                <script type="text/javascript">
                                                    var spec = {{ grafico_distribucion.chart|safe }};
                                                    vegaEmbed('#d_ents', spec).then(function(result) {
                                                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                    }).catch(console.error);
                                                </script>
                                              </div>
                                              <div class="col">
                                                <div id="d_torta"></div>
                                                <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                                <script type="text/javascript">
                                                    var spec = {{ grafico_torta.chart|safe }};
                                                    vegaEmbed('#d_torta', spec).then(function(result) {
                                                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                    }).catch(console.error);
                                                </script>
                                              </div>
                                              <div class="col">
                                                {{tabla_distribucion.tabla|safe}}
                                              </div>
                                            </div>
                                            </br>
                                            </br>
                                            <div class="row">

                                            <h4> Entidades por archivo </h4>
                                            </br>
                                            </br>
                                              <div class="col">
                                                <div id="ents_arch"></div>
                                                <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                                <script type="text/javascript">
                                                    var spec = {{ grafico_ents_archivo.chart|safe }};
                                                    vegaEmbed('#ents_arch', spec).then(function(result) {
                                                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                    }).catch(console.error);
                                                </script>
                                              </div>
                                              <div class="col">
                                                <div id="comp_arch"></div>
                                                <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                                <script type="text/javascript">
                                                    var spec = {{ grafico_comp_archivos.chart|safe }};
                                                    vegaEmbed('#comp_arch', spec).then(function(result) {
                                                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                    }).catch(console.error);
                                                </script>
                                              </div>
                                            </div>
                                            </br>
                                            </br>
                                            <div class="row">
                                            <h4> Entidades por linea </h4>
                                            </br>
                                            </br>
                                              <div class="col">
                                                <div id="lineas_e"></div>
                                                <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                                <script type="text/javascript">
                                                    var spec = {{ grafico_lineas_ents.chart|safe }};
                                                    vegaEmbed('#lineas_e', spec).then(function(result) {
                                                    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                    }).catch(console.error);
                                                </script>
                                              </div>
                                            </div>
                                            </br>
                                            </br>
                                            <div class="row">
                                            <div class="col-3">
                                                {{tabla_rep.tabla|safe}}
                                            </div>
                                            <div class="col">
                                                {%for cloud in wordclouds%}
                                                    <img src="{{ cloud.imagen.url }}" alt="Grafico Imagen">
                                                {%endfor%}
                                            </div>
                                            </div>
                                            
                                          </div>

                                    </div>  
                        </p>
                    </div>
                </div> 
                </br>     
            </div>

            <h3> Resultados completos </h3>
            </br>
            <div class = "col-3">
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Filtrar" class="btn btn-primary btn-md"> 
                </form>
            </div>
            </br>
            <div class="col">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {%if resultados_x_archivo%}
                                {% for results_archivo in resultados_x_archivo %}
                                    {% for resultado in results_archivo %}
                                        <div class="col">
                                            <div>
                                                {{resultado.html|safe}}
                                            </div>  
                                        </div>
                                    {% endfor %}
                                    <hr>
                                {% endfor %}
                            {%else%}
                                {% for resultado in resultados %}
                                <div class="col">
                                    <div>
                                        {{resultado.html|safe}}
                                    </div>  
                                </div>
                                {% endfor %}
                            {%endif%}

                        </p>
                    </div>
                </div> 
                </br>     
            </div>

    </main>
    </div>
</div>

{% endblock content %}
