{% extends "analisis/base.html" %}
{% block content %}

<script>
    window.jsPDF = window.jspdf.jsPDF;
    function demoFromHTML(titulo, filename) {
        window.jsPDF = window.jspdf.jsPDF;
        var cardElement = document.querySelector('.informe');

        html2canvas(cardElement).then((canvas) => {
            var imgData = canvas.toDataURL('image/png');
            var width = canvas.width;
            var height = canvas.height;
            const doc = new jsPDF({
                orientation: 'portrait',
                unit: 'px',
                format: [width, height + 50]
            });
            doc.setFontSize(50); // Set the font size
            doc.text('Informe clasificador de violencia: ' + titulo, 10, 30); // Add the title
            doc.addImage(imgData, 'PNG', 0, 50, width, height);
            doc.save(filename + ".pdf");
        });
    }
</script>
<script>
    window.jsPDF = window.jspdf.jsPDF;
    function tableFromHTML(titulo, filename) {
        window.jsPDF = window.jspdf.jsPDF;
        var cardElement = document.querySelector('.resultados');

        html2canvas(cardElement).then((canvas) => {
            var imgData = canvas.toDataURL('image/png');
            var width = canvas.width;
            var height = canvas.height;
            const doc = new jsPDF({
                orientation: 'portrait',
                unit: 'px',
                format: [width, height + 50]
            });
            doc.setFontSize(50); // Set the font size
            doc.text('Resultados clasificador de violencia: ' + titulo, 10, 30); // Add the title
            doc.addImage(imgData, 'PNG', 0, 50, width, height);
            doc.save(filename + ".pdf");
        });
    }
</script>

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Analisis</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2> {{aplicacion.nombre}}: {{analisis.carpeta.nombre}} </h2>
            </br>
            <div class="container">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class = " p-2 bd-highlight">
                        <a href="javascript:demoFromHTML('{{analisis.carpeta.nombre}}','{{analisis}}')" class="btn btn-primary btn-md">Descargar</a> 
                    </div>
                    <div class = " p-2 bd-highlight">
                        <a href= "{% url 'analisis-borrar_analisis' analisis.id %}" onclick="return confirm('Estas seguro de que quieres eliminar este analisis?')" class="btn btn-outline-danger btn-md">Borrar</a>
                    </div>
                </div>
            </div>

            <h5> Informe </h5>
            </br>
            </br>
            <div class="col-6">
                <div class="card informe" style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text ">

                                <div class="container">

                                    <div class="row">
                                        <h4> Distribución de entidades </h4>
                                        </br>
                                        </br>
                                        <div class="col"> 
                                            <div id="gdis"></div>
                                            <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                            <script type="text/javascript">
                                                var spec = {{ grafico_distribucion.chart|safe }};
                                                vegaEmbed('#gdis', spec).then(function(result) {
                                                // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                }).catch(console.error);
                                            </script>
                                        </div>
                                        <div class="col"> 
                                            <div id="gtorta"></div>
                                            <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                            <script type="text/javascript">
                                                var spec = {{ grafico_torta.chart|safe }};
                                                vegaEmbed('#gtorta', spec).then(function(result) {
                                                // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                }).catch(console.error);
                                            </script>
                                        </div>
                                        <div class="col"> 
                                            {{tabla_distribucion.tabla|safe}}
                                        </div>                                        
                                    </div>  
                                    </br>
                                    </br>
                                    <div class="row">
                                        <div class="col"> 
                                            <div id="glineas"></div>
                                            <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                            <script type="text/javascript">
                                                var spec = {{ grafico_lineas_cats.chart|safe }};
                                                vegaEmbed('#glineas', spec).then(function(result) {
                                                // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                }).catch(console.error);
                                            </script>
                                        </div>
                                        <div class="col"> 
                                            <div id="gcat_arch"></div>
                                            <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                            <script type="text/javascript">
                                                var spec = {{ grafico_categoria_archivo.chart|safe }};
                                                vegaEmbed('#gcat_arch', spec).then(function(result) {
                                                // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                                }).catch(console.error);
                                            </script>
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="completos-tab" data-bs-toggle="tab" data-bs-target="#completos" type="button" role="tab" aria-controls="completos" aria-selected="true">Wordcloud completo</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="violentos-tab" data-bs-toggle="tab" data-bs-target="#violentos" type="button" role="tab" aria-controls="violentos" aria-selected="true">Wordcloud de frases violentas</button>
                                        </li>
                                        
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="completos" role="tabpanel" aria-labelledby="completos-tab">
                                            <img src="{{ word_cats.imagen.url }}" alt="Grafico Imagen">
                                        </div>
                                        <div class="tab-pane fade show" id="violentos" role="tabpanel" aria-labelledby="violentos-tab">
                                            <img src="{{ word_violento.imagen.url }}" alt="Grafico Imagen">
                                        </div>
                                    </div>
                                    
                                    </br>

                        </p>
                    </div>
                </div> 
                </br>     
            </div>
        </br>
        </br>
            <h5> Resultados completos </h5>
            </br>
                <div class = "col-4">
                    <form action="" method=POST enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Filtrar" class="btn btn-primary btn-md"> 
                    </form>
                </div>
            </br>
            </br>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class = " p-2 bd-highlight">
                    <a href= "javascript:tableFromHTML('{{analisis.carpeta.nombre}}','{{analisis}}')"   class="btn btn-primary btn-md">Descargar</a>
                </div>
            </div>
            <div class="col-6">
                <div class="card resultados" style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Detectado</th>
                                            <th scope="col">Archivo</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for resultado in resultados %}
                                                <tr>
                                                    <th scope="row">{{resultado.numero_linea}}</th>
                                                    <td >{{resultado.texto}}</td>

                                                    {% if resultado.detectado == "No Violento" %}
                                                        <td > 
                                                            <span class="badge category-3 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Sexual" %}
                                                        <td > 
                                                            <span class="badge category-2 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Físico" %}
                                                        <td > 
                                                            <span class="badge category-1 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Psicológica" %}
                                                        <td > 
                                                            <span class="badge category-4 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% else %}
                                                        <td > 
                                                            <span class="badge category-5 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% endif %}
                                                    <td>{{resultado.archivo_origen}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                        </p>
                    </div>
                </div> 
                </br>     
            </div>

    </main>
    </div>
</div>

{% endblock content %}
