{% extends "analisis/base.html" %}
{% block content %}

<div class="row">
    <!-- Menu -->
    <div class="col-sm">
        <div class="sidebar">
            <div class="sidebar-brand"> Menu </div>
            <a class="active" href="{% url 'analisis-principal' %}">Aplicaciones</a>
            <a href="{% url 'analisis-carpetas' %}">Mis Carpetas</a>
            <a href="{% url 'analisis-resultados' %}">Mis Resultados</a>
            <a href="{% url 'analisis-config' %}">Configuracion</a>
        </div>
    </div>
    <div class = "col-md-10">
    <main role="main" class="container">
            </br>
            </br>
            <h2> {{aplicacion.nombre}}: {{analisis.carpeta.nombre}} </h2>
            </br>
            <div class="container">
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class = " p-2 bd-highlight">
                        <a href="#" class="btn btn-primary btn-md">Descargar</a> 
                    </div>
                    <div class = " p-2 bd-highlight">
                        <a href= "{% url 'analisis-borrar_analisis' analisis.id %}" onclick="return confirm('Estas seguro de que quieres eliminar este analisis?')" class="btn btn-outline-danger btn-md">Borrar</a>
                    </div>
                </div>
            </div>sss

            <h5> Informe </h5>
            </br>
            </br>
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {% if analisis.informe %}
                                <div class="col-6">
                                    <div>
                                        <div id="vis"></div>
                                        <!--SCRIPT PARA CARGAR UN GRAFICO-->
                                        <script type="text/javascript">
                                            //var spec = {{ analisis.informe|safe }};
                                            vegaEmbed('#vis', spec).then(function(result) {
                                            // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
                                            }).catch(console.error);
                                        </script>
                                    </div>  
                                </div>
                            {% else %}
                                <p>No hay datos para mostrar.</p>
                            {% endif %}
                        </p>
                    </div>
                </div> 
                </br>     
            </div>

            <h5> Resultados completos </h5>
            </br>
            
            </br>
            <div class="col-6">
                <div class="card " style="width:75rem;">
                    <div class="card-body">
                        <p class="card-text">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Texto</th>
                                            <th scope="col">Detectado</th>
                                            <th scope="col">Archivo</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for resultado in resultados %}
                                                <tr>
                                                    <th scope="row">{{resultado.index}}</th>
                                                    <td >{{resultado.texto}}</td>

                                                    {% if resultado.detectado == "No Violento" %}
                                                        <td > 
                                                            <span class="badge category-3 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Sexual" %}
                                                        <td > 
                                                            <span class="badge category-2 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Físico" %}
                                                        <td > 
                                                            <span class="badge category-1 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% elif resultado.detectado == "Psicológica" %}
                                                        <td > 
                                                            <span class="badge category-4 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% else %}
                                                        <td > 
                                                            <span class="badge category-5 "> {{resultado.detectado}} </span>
                                                        </td>
                                                    {% endif %}
                                                    <td>{{resultado.archivo_origen}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                        </p>
                    </div>
                </div> 
                </br>     
            </div>

    </main>
    </div>
</div>

{% endblock content %}
